// global.scss 规定了整个站点的公共样式、公共方法和公共参数
@import 'reset';

/*
  1 rem = fontSize px
  1 px = 1/fontSize rem
*/
$fontSize: 37.5;
@function px2rem($px) {
  @return ($px / $fontSize) + rem;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

